services:
  postgres:
    image: postgres:17
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - aalap-server-network

  mongo:
    image: mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongodata:/data/db
    networks:
      - aalap-server-network
  
  redis:
    image: redis
    restart: always
    ports:
      - "6379:6379"
    networks:
      - aalap-server-network

networks:
  aalap-server-network:
    driver: bridge

volumes:
  pgdata:
  mongodata: